<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rotten Potatos</title>
</head>
<body>
  <h1>Rotten Potatos</h1>

  <ul class="movies">
    <% for(var i=0; i<movies.length; i++) {%>
      <li class="movie">
        <!-- show data in readonly input elements. The ids are generated with EJS -->
        <form id="<%= 'form'+i %>" action="/update" method="post">
          <span>
            <input type="text" name="title" id="<%= 'title'+i %>" readonly value="<%= movies[i].title %>">
          </span>
          <!-- USE THIS HIDDEN INPUT TO SEND ADDITIONAL INFORMATION TO THE SERVER  -->
          <!-- WE WANT TO SEND i, THE NUMBER OF THE ROW BEING MODIFIED -->
          <input type="hidden" name="num" value="<%= i %>">
          <span>(
            <input type="text" name="rating" id="<%= 'rating'+i %>" readonly value="<%= movies[i].rating %>">
          )</span>
          <!-- generate the id for each button with EJS -->
          <button type="button" id= <%= 'edit' + i %> onclick="edit(this)">Edit</button>
        </form>
      </li>
      <% } %>
    </ul>

    <form action="/addmovie" method="POST">
      <input type="text" placeholder="title" name="title">
      <input type="text" placeholder="rating" name="rating">
      <button type="submit">Submit</button>
    </form>

    <a href="/about">About</a>
    <a href="/team">The Team</a>

    <script>
    var content = [];
    // Respond to the edit button being clicked.
    // Get the data from title and rating and update the database if they
    // were modified
    function edit(button) {
      // get the number in the button id. It matches the number in the id of the
      // input element we need
      var rownum = button.id.match(/\d+/)[0];  // Extract the number from string 'editNUM'
      var titleInput = document.getElementById('title'+rownum);
      var ratingInput = document.getElementById('rating'+rownum);
      if (button.innerHTML == "done") {
        titleInput.readOnly = true;
        ratingInput.readOnly = true;
        // if the content was edited then update the database
        if (content[rownum].title != titleInput.value || content[rownum].rating != ratingInput.value) {
          var form = document.getElementById('form'+rownum);
          form.submit();
          console.log('submitted form');
        }
        titleInput.style.backgroundColor = "white";
        button.innerHTML = "edit";
      }
      else {
        // get the content of titleInput and ratingInput
        content[rownum] = {title: titleInput.value, rating: ratingInput.value};
        console.log(content[rownum]);
        // make this input element editable
        titleInput.readOnly = false;
        ratingInput.readOnly = false;
        titleInput.style.backgroundColor = "yellow";
        ratingInput.style.backgroundColor = "yellow";
        button.innerHTML = "done";
      }
    }
    </script>
  </body>
  </html>