<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
      <title>Manage Inventory</title>



        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
          body {
            /*height: 800px;*/
        /*    background-size: cover;
            background: blue; /* For browsers that do not support gradients */
      /*      background: -webkit-linear-gradient(left top, yellow, brown); /* For Safari 5.1 to 6.0 */
      /*      background: -o-linear-gradient(bottom right, blue, yellow); /* For Opera 11.1 to 12.0 */
        /*    background: -moz-linear-gradient(bottom right, blue, yellow); /* For Firefox 3.6 to 15 */
        /*    background: linear-gradient(#efefef, gray); /* Standard syntax (must be last) */
            background-color: white;
            padding: 60px;
          }

          #nav {
            background-color: #59B2E0;
            color: black;
          }
          .nav.navbar-nav li a {
            color: black;
            font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            text-transform: uppercase;
          }

          .navbar-header h {
            color: black;
            font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
          }

          .navbar-header h:hover {
            color: white;
          }


          @font-face {
            font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            /*src: url(sansation_light.woff);*/
          }

          input[type="display"] {
              width: 150px;
              display: inline-block;
              padding-left: 10px;
              padding-right: 10px;
              background: none;
              border: none;
            }

            .v{
              padding-top:10px;
              padding-bottom: 10px;
              margin-top:-10px;
              margin-bottom: -10px;
              padding-left: 10px;
            }

            .v:hover{
              background-color: #f9f9f9;
            }

            .b {
              border-bottom: 1px solid #59B2E0;
              margin-top: 10px;
              margin-bottom: 10px;
            }

            .addbox{
              display: inline-block;
              float: right;
              text-align: right;
              padding: 10px;
              background-color: #f9f9f9;
            }
            .head{
              display: inline-block;
              font-size: 24pt;
            }

            .dbutton{
              display: inline-block;
              float: right;
              vertical-align: center;
            }

          .hidden{
            height: 0px;
          }

          .display{
            height: auto;
          }


        </style>
</head>
<body>

  <div class="head">Vendors</div>
  <div class="addbox">
    <form action="/addVen" method="POST">
          <input type="text" placeholder="vendor name" name="vendorName">
          <button type="submit">Submit</button>
    </form>
  </div>

  <ul class="Vendors">
     <% for(var i=0; i<vendor.length; i++) {%>
       <div class = "b"></div>
       <li id="item<%=i%>">
         <form id="<%= 'form'+i %>" action="/deleteVen" method="post">
         <input type="display" name="vendorName" value="<%= vendor[i].vendorName %>" readonly>
         <button type="button" class="dbutton" id=<%='delete' + i %> onclick="deleteVendor(this)">Delete</button>
         <input type="hidden" id="<%= "type" + i %>" value="delete" name = "operationType">
       </li>
       </form>
       <% } %>
       <div class = "b"></div>
     </ul>

  <nav id= "nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div id="navhead">
        <a class="navbar-brand" href="#"><h>Campus Grounds Inventory Manager</h></a>
      </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/manageInv">Manage Inventory</a></li>
        <li class="active"><a href="/manageVen">Manage Vendors</a></li>

</body>


<script>
  function deleteVendor(button){
    console.log("clicked");
    var p = confirm("Are you sure?");
    if (p){
    var rownum = button.id.match(/\d+/)[0];  // Extract the number from string 'editNUM'
    console.log(rownum);
    var type = document.getElementById('type'+rownum);
    type.value = "delete";
    var form = document.getElementById('form'+rownum);
    console.log('form'+rownum);
    form.submit();
    console.log('submitted form');
    }
  }
</script>
</html>
